@font-face {
    font-family: 'Font_Principale';
    src: url('../font/SpecialElite/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color:  #84D022; /* à adapter */
  }

body {
    background-color: #000;
    color: #fff;
    font-family: 'Font_Principale',monospace;
    scroll-behavior: smooth;
    font-size: 1.5rem;
  }
  .accent {
    color: var(--accent-color);
  }
  .bg-accent {
    background-color: var(--accent-color);
  }
  .section-title {
    margin-bottom: 2rem;
    border-left: 5px solid var(--accent-color);
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .card {
    border: 1px solid var(--accent-color);
    background-color: #111;
    color: #fff;
  }
  .btn-accent {
    background-color: var(--accent-color);
    color: #000;
    border: none;
  }
  .btn-accent:hover {
    background-color: #90e655;
  }
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    background-color: #000;
  }
  nav a {
    color: var(--accent-color) !important;
  }
  nav a:hover {
    text-decoration: underline;
  }
/* Branding sur 2 lignes et plus grand */
.branding-text {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
    white-space: normal;
  }
  
  /* Si tu n'utilises pas de variable CSS, remplace par la couleur exacte */
  .nav-hover:hover {
    color: var(--accent-color); /* Ex: rouge accent */
    text-decoration: underline;
  }
  .navbar-brand {
    margin-left: 3rem;
  }
  
  .navbar-nav {
    margin-right: 3rem;
  }