@font-face {
    font-family: 'Font_Principale';
    src: url('../font/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Font_Principale',Arial, Helvetica, sans-serif;
    color: #FFFAF0;
    background-color: #1b1c1d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 a {
    text-decoration:none;
    color: #84D022;
}
h1{
    text-align: left;
    margin-top: 2vh;
    height: 4vh;
    margin-bottom: 10vh;
}
h2{
    margin-bottom: 30px;
}
#Principal{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: space-between;
}
#PartG{
    width:30%;
    height: 100%;

}
#PartD{
    width: 60%;
}
#PartD p {
    font-size: large;
    text-align: justify;
    height: 100%;
    padding-right: 100px ;
}

#PartG li {
    list-style:circle;
    margin: 5% 10%;
    font-size: x-large;
}
#Anexe{
    display: flex;
    height: 32vh;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2vh;
}
#Anexe img{
    height: 100%;
}


h1#default{
    text-align: center;
    font-size: xx-large;
}
#Cdefault{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#Cdefault a{
    font-size: larger;
    text-decoration:none;
    color: #84D022;
}
