@font-face {
    font-family: 'Font_Principale';
    src: url('../font/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Font_Principale',Arial, Helvetica, sans-serif;
    color: #FFFAF0;
    background-color: #1b1c1d;
    max-height: 300vh;
    min-height: 300vh ;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

header nav h2{
    font-size: 4rem;
}

header nav>ul{
    list-style: none;
    display: flex;
    flex-grow: 1;
    width: 50%;
    gap: 100px;
    justify-content: end;
    padding-right: 2%;
    align-items: center;
}

header nav button{
    background-color:#1b1c1d;
    border: none; 
}

/* effet hover*/
header nav button p{
    text-decoration: none;
    color:#FFFAF0;
    font-family: 'Font_Principale',Arial, Helvetica, sans-serif;;
    font-size: 2.5rem;
    background-color:#1b1c1d;
    border: none;
}
#btn_nav{
    text-decoration: none;
    color:#FFFAF0;
    font-size: 2.5rem;    
    color: #1b1c1d;
    padding: 10px 15px;
    border: 3px #1b1c1d solid;
    background-color: #84D022;
    border-radius: 10px;
}
#btn_nav:hover{
    background-color: #1b1c1d;
    color: #84D022;
    border: 3px solid #84D022;
}



#Page_Projet h1 {
    text-align: center;
    margin-top: 4vh;
    color: white;
    margin-bottom: 8VH;
    height: 4vh;
}

/* Conteneur principal */
#Page_Projet {
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Style de la liste */
.projects-list {
    list-style-type: none;
    flex-shrink: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    max-height: 84vh;
}
.main-conteneur {
    display: flex;
    gap :2%;
    justify-content: space-between;
    height: 20%;
}

.langage-proget{
    visibility: hidden;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.7s ease; /* Ajoutez une transition pour le mouvement */
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 15%;
    padding: 10px;
}

.langage-proget img{
    flex-grow: 0;
    max-height: 80%;    
    object-fit: cover;    
}
.date h2{
    font-size: xx-large;
}
.date {
    visibility: hidden;
    z-index: -1;
    transform: translateX(100%);
    transition: transform 0.7s ease; /* Ajoutez une transition pour le mouvement */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
/* Style de chaque projet */
.project {
    flex-shrink: 1;
    width: 60%;
    background-color:#1b1c1d;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    backdrop-filter:blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project h2 {
    font-size: 2rem;
    text-align:center;
}


/* Effet de survol sur page proget */
.main-conteneur:hover .date{
    transform: translateX(0);
    visibility: visible;
}
.main-conteneur:hover .project {
    background-color: #88b849da;
}
.main-conteneur:hover .langage-proget{
    transform: translateX(0);
    visibility: visible;
}





