@font-face {
    font-family: 'MyFont';
    src: url('hacked-font/Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'MyFont',Arial, Helvetica, sans-serif;
    color: #FFFAF0;
    background-color: #1b1c1d;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2{
    font-size: 4rem;
    margin:0px;
}

header nav>ul{
    list-style: none;
    display: flex;
    width: 50%;
    gap: 10%;
    justify-content: end;
    padding-right: 2%;
    align-items: center;
}

header nav button{
    background-color:#1b1c1d;
    border: none; 
}
/* effet hover*/
header nav button p{
    text-decoration: none;
    color:#FFFAF0;
    font-size: 2.5rem;
    background-color:#1b1c1d;
    border: none;
}
#btn_nav{
    text-decoration: none;
    color:#FFFAF0;
    font-size: 2.5rem;    
    color: #1b1c1d;
    padding: 10px 15px;
    border: 3px #1b1c1d solid;
    background-color: #84D022;
    border-radius: 10px;
}
#btn_nav:hover{
    background-color: #1b1c1d;
    color: #84D022;
    border: 3px solid #84D022;
}



/* 
    ################################
                Page intro
    ################################ 
*/
#Page_intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Page_intro{
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
}


#Page_intro p{
    max-width: 30%;
    font-size: 3rem;
    position: relative;
    z-index: 1;
    margin-bottom: 25vh;
}
#Page_intro p span{
    color: #84D022;    
}
#Page_intro button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 80px;
    max-height: 80px;
    background-color:#1b1c1d;
    border: none;
}
#Page_intro button img{
    max-width: 80px;
    max-height: 80px;

}
#Page_intro{
    padding: 0%;
    padding-top: 5%;
}
#Page_intro h1{
    height: 5vh;
}



#Page_Projet h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 20vh;
}

/* Conteneur principal */
#Page_Projet {
    max-width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

/* Style de la liste */
.projects-list {
    list-style-type: none;
    padding: 0;
}

.conteneur-proget-langage {
 display: flex;
 gap: 20%;
 justify-content: space-between;
}

.langage-proget{
    visibility: hidden;
    display: flex;
    align-items: center;
}
.conteneur-proget-langage:hover .langage-proget{
    visibility: visible;
}

/* Style de chaque projet */
.project {
    flex-grow: 2;
    background-color:#1b1c1d;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project h2 {
    font-size: 2.5rem;
}

.project p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 15px;
}

.project a {
    font-size: 1.7rem;
    text-decoration: none;
    background-color:#84D022;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.project a:hover {
    background-color: #0056b3;
}

/* Effet de survol sur les projets */
.project:hover {
    background-color: #f9f9f9;
}


